like-hearts .glyphicon-heart {
    height: 40px;
    width: 55px;
    border: 1px solid #5CB85C;
    padding: 10px;
    border-radius: 5px;
}

like-hearts .glyphicon {
    color: #5CB85C;
}

like-hearts .glyphicon-heart:hover {
    color: white;
    background-color: #5CB85C;
}