
#register {
    margin-top: 70px;
    text-align: center;
}

#register .register-form {
    width: 500px;
    /* display: block; */
    margin: 0 auto;
    padding: 4px;
}

#register a {
    text-decoration: none;
    color: #5CB85C;
}