<!--Navigation-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header"><a href="/" class="navbar-brand">Medium</a>
            <!-- collapse btn -->
            <button type="button" data-toggle="collapse" data-target="#navbar-main" class="navbar-toggle"><span class="icon-bar"></span><span
                class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>

        <div id="navbar-main" class="navbar-collapse collapse">

            <ul ng-if="navvm.isLoggedIn == true" class="nav navbar-nav navbar-right">
                <li class="dropdown">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img ng-src="{{navvm.currentUser.imgUrl}}" class="profile-pic" alt="">&nbsp&nbsp&nbsp{{navvm.currentUser.username}}<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-click="navvm.logout()" href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>

            <ul ng-if="navvm.isLoggedIn == false" class="nav navbar-nav navbar-right">
                <li><a href="/login">Log in</a></li>
                <li><a href="/register">Sign up</a></li>
            </ul>
        </div>
    </div>
</nav>